@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";


@theme{
    --font-boldonse:Boldonse,"Boldonse";
    --font-Popins:Poppins,"Poppins";
}

@theme{
    extend: {
        animation:{
            blob: "blob 4s infinite"
        }
        keyframes: {
            blob: {
                "0%": {
                    transform: "scale(1)"
                },
                "33%": {
                    transform: "scale(1.2)"
                },
                "66%": {
                    transform: "scale(0.9)"
                },
                "100%": {
                    transform: "scale(1)"
                }
            }
        }
    }
}